doctype html
html
  head
    title RPT option
  body
    label(for='id-or-url') ID or URL
    input#id-or-url(type='text')
    button#save-button Save
    script(src='options.js', type='text/javascript')
